<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>myPillow</ion-title>

  </ion-navbar>
</ion-header>

<ion-content padding> 

  <style>
        ion-content {
          background-color: #C3CFDD;
        }
  </style>
  <div *ngIf="!particle.token">
      Please login and select a device. <br />
      <button ion-button (click)="login()">Login</button>
  </div>
  <div *ngIf="particle.token && particle.device">
      <h2 class = "h2-div">Welcome to myPillow!</h2>
      <div>
          <h4>Why myPillow?</h4>
          <ul style = "list-style-type:square">
            <li>myPillow is a pillow that vibrates at a time you set on the "myPillow" app. </li>
            <li>myPillow aids those with hearing disabilities since the device utilizes vibrations instead of sound.</li>
            <li>myPillow is also another option for people who don't like the classic sound alarms!
            </li>
          </ul>
          <!--<p *ngIf="!particle.device || !particle.device.connected">The device is offline</p>
          <p *ngIf="particle.device && particle.device.connected">You are currently viewing {{particle.device.name}}</p>-->
      </div>
      <div>
          <h5>How to Set Up Alarms</h5>
          <ol>
            <li>Open up the "myPillow" app</li>
            <li>Tap "Create Alarm"</li>
            <li>Set desired alarm time and press the check-mark button</li>
            <li>And you're done!</li>

            <blockquote>
              Once you create an alarm, on the upper-left hand corner, click the parallel lines to open up a menu. You can edit or delete alarms by clicking on "Alarms".

            </blockquote>

          </ol>
          <!--<p>
            The device variable "var1" automatically polls, and the current value is {{var1}}
          </p>-->
      </div>
      <div>
          <h5>About the Creator</h5>
          <p>
            A random human being who participates in this TACC camp. She thought a vibrating pillow alarm was cool and thought about how she couldn't wake up to any sort of sound alarms. The idea began to flourish and soon "myPillow" was born. 
            <!--You can also create custom components. It's also more efficient to update components by subscribing to events 
            from your device, by calling <code>particle.subscribe</code>-->
          </p>
          <!--<particle-progress [event]="'variableUpdate'" [min]="2" [max]="10"></particle-progress>-->
      </div>
      <div>
          <h5>Press here to get started!</h5>
          <button class="button">Create Alarm</button>

      </div>
      <!--<div>
        <h5>Calling functions</h5>
        <p>
            You can call device functions with <code>particle.callFunction</code>
        </p>
        <button ion-button (click)="particle.callFunction('fun1')">Call a function</button>
      </div>-->
  </div>
</ion-content>

